#wrap {
  /* width: 1280px; */
  min-width: 320px;
  margin: 0 auto;
  width: 100%; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  height: 100px;
  color: #fff;
  font-family: NtSansKR; }
  .header .logo {
    float: left;
    padding: 26px;
    margin-left: 40px; }
    .header .logo a {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      display: block;
      width: 160px;
      height: 48px;
      background: url("../images/common/logo_pc1x.svg") no-repeat; }
  .header .util {
    top: 0;
    right: 0; }
    .header .util > * {
      float: left; }
    .header .util .lang {
      color: #949494; }
    .header .util .lang_active {
      color: #fff;
      margin-right: 32px; }
    .header .util .lang_active::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 12px;
      top: 45px;
      left: 38px;
      background: #595959; }
  .header .menu {
    position: relative;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    width: 100px;
    height: 100px;
    padding: 38px; }
  .header .btn_open {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px; }
    .header .btn_open .btn_line_inner {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 50%; }
    .header .btn_open, .header .btn_open .line {
      position: absolute; }
    .header .btn_open .line {
      -webkit-transition: all 0.5s cubic-bezier(0.61, -0.12, 0.33, 1.11);
      -moz-transition: all 0.5s cubic-bezier(0.61, -0.12, 0.33, 1.11);
      -o-transition: all 0.5s cubic-bezier(0.61, -0.12, 0.33, 1.11);
      transition: all 0.5s cubic-bezier(0.61, -0.12, 0.33, 1.11);
      width: 24px;
      height: 4px;
      background: #B82830; }
    .header .btn_open .top {
      top: 4px;
      left: 0; }
    .header .btn_open .btm {
      top: 16px;
      left: 0; }
    .header .btn_open.active .line {
      background: #222 !important; }
    .header .btn_open.active .top {
      -webkit-transform: rotate(-225deg);
      -moz-transform: rotate(-225deg);
      -o-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
      transform: rotate(-225deg);
      top: 10px; }
    .header .btn_open.active .btm {
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(225deg);
      top: 10px; }

.header.on {
  background: #fff;
  color: #222;
  border-bottom: 1px solid #dbdbdb; }
  .header.on .lang_active {
    color: #222;
    margin-right: 32px; }
  .header.on .lang_active::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 12px;
    top: 45px;
    left: 38px;
    background: #222; }

#pcHeader {
  /* display: none; */ }
  #pcHeader .util .lang {
    width: 76px;
    height: 100px;
    padding: 38px 0;
    margin-right: 40px; }
    #pcHeader .util .lang a {
      display: inline-block;
      font-weight: 700;
      line-height: 24px;
      float: left; }
  #pcHeader .util .menu button {
    display: inline-block; }
  #pcHeader #pcGnb {
    width: 100%;
    height: 100%;
    /* margin: 0 auto;min-width: 740px;width: 820px;background: red; */ }
    #pcHeader #pcGnb > ul {
      width: 820px;
      height: 100%;
      margin: 0 auto; }
      #pcHeader #pcGnb > ul > li {
        float: left; }
        #pcHeader #pcGnb > ul > li a {
          display: block;
          font-weight: 500;
          line-height: 100px;
          padding: 0 40px 0 40px; }
  #pcHeader #menuWrap {
    /* display: none; */
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background: rgba(245, 245, 245, 0.98);
    border-bottom: 1px solid #dbdbdb;
    height: 680px;
    z-index: -1; }
    #pcHeader #menuWrap > ul {
      position: relative;
      width: 1060px;
      left: 0;
      top: 0;
      margin: 0 auto;
      /* background: pink; */ }
      #pcHeader #menuWrap > ul > li {
        float: left;
        margin-right: 40px; }
        #pcHeader #menuWrap > ul > li > ul > li {
          height: 40px; }
        #pcHeader #menuWrap > ul > li > p {
          padding: 48px 0 8px 0; }
      #pcHeader #menuWrap > ul li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 12px 0;
        color: #595959; }
    #pcHeader #menuWrap > ul > li > a, #pcHeader #menuWrap > ul > li > p {
      /* position: relative; */
      height: 80px;
      font-size: 20px;
      font-weight: 700;
      display: block;
      width: 180px; }
    #pcHeader #menuWrap > ul > li > a {
      padding: 48px 0 8px 0;
      color: #222; }
    #pcHeader #menuWrap .m-40px {
      margin-right: -40px; }
    #pcHeader #menuWrap .heigh_full {
      height: 680px; }
    #pcHeader #menuWrap .fixed_heigh {
      height: 320px; }
    #pcHeader #menuWrap .gnb7 {
      margin-top: -80px; }
    #pcHeader #menuWrap .gnb8 {
      margin-top: -40px; }

#mHeader {
  display: none;
  background: #fff;
  color: #222;
  border-bottom: 1px solid #dbdbdb; }

#mGnb {
  background: rgba(245, 245, 245, 0.98);
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  color: #222;
  z-index: -1;
  overflow-y: auto; }
  #mGnb > ul {
    padding: 0 64px; }
    #mGnb > ul > li {
      font-size: 32px;
      font-weight: 700;
      height: 80px;
      line-height: 80px;
      margin-bottom: 1px;
      border-bottom: 2px solid #e5e5e5; }
      #mGnb > ul > li > ul > li {
        font-size: 20px;
        font-weight: 400;
        height: 40px;
        line-height: 40px; }
      #mGnb > ul > li:not(.gnb8):not(.gnb9):not(.lang):not(.sns) > a::before, #mGnb > ul > li:not(.gnb8):not(.gnb9):not(.lang):not(.sns) > a::after {
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        content: "";
        position: absolute;
        top: 50%;
        right: 38px;
        width: 24px;
        height: 4px;
        background: #222; }
      #mGnb > ul > li > a::after {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
      #mGnb > ul > li.on > a::after {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
      #mGnb > ul > li > a {
        position: relative;
        font-size: 32px;
        font-weight: 700;
        padding: 0 20px; }
  #mGnb ul li a {
    display: block;
    line-height: 80px; }
  #mGnb ul li ul {
    display: none; }
    #mGnb ul li ul li a {
      line-height: 60px; }
  #mGnb .lang {
    height: 100px;
    padding: 38px 0;
    border-bottom: none;
    margin-top: 80px; }
    #mGnb .lang a {
      display: inline-block;
      color: #949494;
      font-weight: 400;
      float: left;
      font-size: 24px;
      line-height: 40px;
      height: 40px; }
    #mGnb .lang .lang_active {
      color: #222;
      margin-right: 32px; }
    #mGnb .lang .lang_active::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      top: 20px;
      left: 78px;
      background: #222; }
  #mGnb .sns {
    border-bottom: none;
    float: right;
    margin-top: -72px; }
    #mGnb .sns a {
      float: left;
      background: no-repeat center;
      width: 40px;
      height: 40px;
      margin-left: 24px; }
    #mGnb .sns .sns_insta {
      background-image: url("../images/common/sns_white_insta.svg"); }
    #mGnb .sns .sns_facebook {
      background-image: url("../images/common/sns_white_facebook.svg"); }
    #mGnb .sns .sns_youtube {
      background-image: url("../images/common/sns_white_youtube.svg"); }

#footer {
  position: relative; }
  #footer .ft_bg_dark {
    width: 100%;
    height: 400px;
    background: #333; }
  #footer .max1280 {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    height: 200px;
    top: 40px;
    left: 50%; }
    #footer .max1280 a, #footer .max1280 span, #footer .max1280 p {
      display: inline-block;
      font-family: NtSansKR;
      color: #949494; }
    #footer .max1280 .foot_left .foot_link {
      font-size: 20px; }
      #footer .max1280 .foot_left .foot_link ul {
        width: 100%; }
        #footer .max1280 .foot_left .foot_link ul li {
          float: left;
          margin-right: 80px;
          line-height: 24px;
          padding: 10px 0; }
        #footer .max1280 .foot_left .foot_link ul .bold_white {
          color: #fff;
          font-weight: 500; }
    #footer .max1280 .foot_left .foot_info {
      position: absolute;
      width: 100%;
      height: 104px;
      top: 90px; }
      #footer .max1280 .foot_left .foot_info p, #footer .max1280 .foot_left .foot_info span {
        display: inline-block; }
      #footer .max1280 .foot_left .foot_info .ft_info, #footer .max1280 .foot_left .foot_info address {
        margin-bottom: 24px; }
        #footer .max1280 .foot_left .foot_info .ft_info span, #footer .max1280 .foot_left .foot_info address span {
          position: relative;
          margin-left: 40px; }
        #footer .max1280 .foot_left .foot_info .ft_info span::before, #footer .max1280 .foot_left .foot_info address span::before {
          content: "";
          position: absolute;
          top: 0;
          left: -20px;
          width: 1px;
          height: 16px;
          background: #949494; }
    #footer .max1280 .foot_right {
      position: absolute;
      width: 160px;
      height: 40px;
      right: 0; }
      #footer .max1280 .foot_right ul li {
        float: left;
        width: 40px;
        height: 40px;
        background: no-repeat center; }
        #footer .max1280 .foot_right ul li + li {
          margin-left: 20px; }
        #footer .max1280 .foot_right ul li a {
          width: 100%;
          height: 100%; }

@media screen and (max-width: 1440px) {
  #pcGnb {
    display: none; }

  #footer .trans_size {
    width: 920px; }
    #footer .trans_size .foot_left .foot_link ul li {
      margin-right: 40px; }
  #footer .foot_link ul li a {
    font-size: 16px; } }
@media screen and (max-width: 1366px) {
  .header {
    height: 72px; }
    .header .logo {
      padding: 15px; }
      .header .logo a {
        width: 140px;
        height: 42px; }
    .header .util .lang_active::before {
      top: 31px; }
    .header .menu {
      width: 72px;
      height: 72px;
      padding: 24px; }
    .header .btn_open {
      width: 72px;
      height: 72px; }

  .header.on .lang_active::after {
    top: 31px; }

  #pcHeader .util .lang {
    height: 72px;
    padding: 24px 0; }
  #pcHeader #menuWrap {
    top: 72px; }
    #pcHeader #menuWrap > ul {
      background: red;
      width: 980px;
      left: 34px; }
      #pcHeader #menuWrap > ul > li {
        margin-right: 40px; }
        #pcHeader #menuWrap > ul > li > ul > li {
          height: 36px; }
        #pcHeader #menuWrap > ul > li > p {
          padding-top: 36px;
          padding-bottom: 0; }
    #pcHeader #menuWrap > ul > li > a, #pcHeader #menuWrap > ul > li > p {
      width: 148px;
      height: 60px; }
    #pcHeader #menuWrap .fixed_heigh {
      height: 292px; } }
@media screen and (max-width: 800px) {
  /* #menuWrap{display: none;}
  #mHeader{
      display: block;
  } */
  #footer .trans_size {
    width: 620px; }
    #footer .trans_size .foot_left .foot_link ul li {
      margin-right: 28px; }
      #footer .trans_size .foot_left .foot_link ul li a {
        font-size: 14px; }
    #footer .trans_size .foot_left .foot_info {
      top: 72px; }
      #footer .trans_size .foot_left .foot_info .ft_info p {
        font-size: 14px; }
      #footer .trans_size .foot_left .foot_info .ft_info, #footer .trans_size .foot_left .foot_info address {
        margin-bottom: 16px; }
      #footer .trans_size .foot_left .foot_info .ft_info + address, #footer .trans_size .foot_left .foot_info address + p {
        font-size: 14px; }
    #footer .trans_size .foot_right {
      left: 0;
      top: 200px; } }

/*# sourceMappingURL=layout.css.map */
