@charset "utf-8";

@import "_var", "_mixin", "_function";

//pc -> tablet -> mobile

#wrap{/* width: 1280px; */min-width: 320px;margin: 0 auto;width: 100%;}

//#header
.header{//pc, mobile 공통
    position: fixed;top: 0;left: 0;width: 100%;z-index: 900;height: 100px;color: #fff;font-family: NtSansKR;
    .logo{
        float: left;padding: 26px;margin-left: 40px;
        a{
            @include bgsize(cover);
            display: block;width: 160px;height: 48px;background: url("../images/common/logo_pc1x.svg")no-repeat;
        }
    }
    .util{
        top: 0;right: 0;
        > *{float: left;}
        .lang{color: #949494;}
        .lang_active{color: #fff;margin-right: 32px;}
        .lang_active::before{content: "";position: absolute;width: 2px;height: 12px;top: 45px;left: 38px;background: #595959;}
    }
    .menu{
        position: relative;
        @include bgsize(cover);
        width: 100px;height: 100px;padding: 38px;
    }
    .btn_open{
        @include borderbox;
        position: relative;top: 0;right: 0;
        width: 100px;height: 100px;
        .btn_line_inner{
            @include translate-50;
            position: absolute;width: 24px;height: 24px;top: 50%;left: 50%;
        }
        &, .line{position: absolute;}
        .line{
            @include transition(all 0.5s cubic-bezier(0.61,-0.12, 0.33, 1.11));
            width: 24px;height: 4px;background: $red;
        }
        .top{top: 4px;left: 0;}
        .btm{top: 16px;left: 0;}
        &.active{
            .line{background: #222 !important;}
            .top{
                @include transform(rotate(-225deg));
                top: 10px;
            }
            .btm{
                @include transform(rotate(225deg));
                top: 10px;
            }
        }
    }
}
.header.on{
    background: #fff;color: #222;border-bottom: 1px solid #dbdbdb;
    .lang_active{color: #222;margin-right: 32px;}
    .lang_active::after{content: "";position: absolute;width: 2px;height: 12px;top: 45px;left: 38px;background: #222;}
}
#pcHeader{
    /* display: none; */
    .util{
        .lang{
            width: 76px;height: 100px;padding: 38px 0;margin-right: 40px;
            a{display: inline-block;font-weight: 700;line-height: 24px;float: left;}
        }
        .menu{
            button{
                display: inline-block;
            }
        }
    }

    #pcGnb{
        width: 100%;height: 100%;
        /* margin: 0 auto;min-width: 740px;width: 820px;background: red; */
        > ul{
            width: 820px;height: 100%;margin: 0 auto;
            > li{
                float: left;
                a{
                    display: block;font-weight: 500;line-height: 100px;padding: 0 40px 0 40px;
                }
            }
        }
    }

    #menuWrap{
        /* display: none; */
        position: absolute;top: 100px;left: 0;right: 0;background: rgba(245, 245, 245, 0.98);border-bottom: 1px solid #dbdbdb;height: 680px;z-index: -1;
        
        > ul{
            position: relative;width: 1060px;left: 0;top: 0;margin: 0 auto;/* background: pink; */
            > li{float: left;margin-right: 40px;
                > ul > li{height: 40px;}
                > p{padding: 48px 0 8px 0;}
            }
            & li a{display: block;width: 100%;height: 100%;padding: 12px 0;color: #595959;}
        }
        
        > ul > li > a, >ul > li > p{/* position: relative; */height: 80px;font-size: 20px;font-weight: 700;display: block;width: 180px;}
        > ul > li > a{padding: 48px 0 8px 0;color: #222;}
    
        .m-40px{margin-right: -40px;}
        .heigh_full{height: 680px;}
        .fixed_heigh{height: 320px;}
        .gnb7{margin-top: -80px;}
        .gnb8{margin-top: -40px;}
    }
}

#mHeader{display: none;}

#footer{
    position: relative;
    .ft_bg_dark{width: 100%;height: 400px;background: #333;}
    .max1280{
        @include translateX-50;
        position: absolute;height: 200px;top: 40px;left: 50%;
        a, span, p{display: inline-block;font-family: NtSansKR;color: #949494;}
        .foot_left{
            .foot_link{
                font-size: 20px;
                ul{
                    width: 100%;
                    li{
                        float: left;margin-right: 80px;line-height: 24px;padding: 10px 0;
                    }
                    .bold_white{color: #fff;font-weight: 500;}
                }
            }
            .foot_info{
                position: absolute;width: 100%;height: 104px;top: 90px;
                p, span{display: inline-block;}
                .ft_info, address{
                    margin-bottom: 24px;
                    span{position: relative;margin-left: 40px;}
                    span::before{content: "";position: absolute;top: 0;left: -20px;width: 1px;height: 16px;background: #949494;}
                }
            }
        }
        .foot_right{
            position: absolute;width: 160px;height: 40px;right: 0;
            ul{
                li{
                float: left;width: 40px;height: 40px;background: no-repeat center;
                + li{margin-left: 20px;}
                a{width: 100%;height: 100%;}
                }
            }
        }
    }
}



@media screen and (max-width: 1920px) { //768의 2배수 지원
    //#header
    //#footer
}

@media screen and (max-width: 1440px) { //pc gnb 디자인변환
    //#header
    #pcGnb{display: none;}
    //#footer
    #footer{
        .trans_size{
            width: vw-1440calc(920);
            .foot_left .foot_link ul li{margin-right: vw-1440calc(40);}
        }
        .foot_link ul li a{font-size: vw-1440calc(16);}
    }
}

@media screen and (max-width: 1336px) { //laptop사이즈 변경

}

//태블릿가로
@media screen and (max-width: 1280px) { //태블릿가로
    //#header
    .header{
        height: vw-1280calc(72);
        .logo{
            padding: vw-1280calc(15);margin-left: 0;
            a{width: vw-1280calc(140);height: vw-1280calc(42);}
        }
        .util .lang_active::before{top: vw-1280calc(31);}
        .menu{width: vw-1280calc(72);height: vw-1280calc(72);padding: vw-1280calc(24);}
        .btn_open{
            width: vw-1280calc(72);height: vw-1280calc(72);
        }
    }
    .header.on .lang_active::after{top: vw-1280calc(31);}
    #pcHeader{
        .util .lang{height: vw-1280calc(72);padding: vw-1280calc(24) 0;}
        #menuWrap{
            top: vw-1280calc(72);
            > ul{
                width: vw-1280calc(980);left: vw-1280calc(34);
                >li{
                    margin-right: vw-1280calc(40);
                    > ul > li{height: vw-1280calc(36);}
                    > p{padding-top: vw-1280calc(36);padding-bottom: 0;}
                }
            }
            > ul > li > a, > ul > li > p{width: vw-1280calc(148);height: vw-1280calc(60);}
            .fixed_heigh{height: vw-1280calc(292);}
        }
    }
    
    //#footer
}

@media screen and (max-width: 800px) { //태블릿 세로
    //#header
    #pcHeader{display: none;}
    #mHeader{
        display: block;
        background: #fff;color: #222;border-bottom: vw-800calc(1) solid #dbdbdb;
    }
    #mGnb{
        background: rgba(245, 245, 245, 0.98);
        position: fixed;top: vw-800calc(72);left: 0;right: 0;bottom: 100%;color: #222;z-index: -1;overflow-y: auto;
        > ul{
            padding: 0 vw-800calc(64);
            > li{
                font-size: vw-800calc(32);font-weight: 700;margin-bottom: vw-800calc(1);border-bottom: vw-800calc(2) solid #e5e5e5;
                > ul > li{font-size: vw-800calc(28);font-weight: 400;height: vw-800calc(60);line-height: vw-800calc(60);}
                &:not(.gnb8):not(.gnb9):not(.lang):not(.sns) > a::before, &:not(.gnb8):not(.gnb9):not(.lang):not(.sns) > a::after{
                    @include transition(transform 0.2s);
                    content: "";position: absolute;top: 50%;right: vw-800calc(38);width: vw-800calc(24);height: vw-800calc(4);background: #222;
                }
                > a::after{@include transform(rotate(-90deg));}
                &.on > a::after{@include transform(rotate(0deg));}
                > a{
                    position: relative;font-size: vw-800calc(32);font-weight: 700;padding: 0 vw-800calc(20);height: vw-800calc(80);line-height: vw-800calc(80);
                }
            }
        }
        > ul > li > a{display: block;line-height: vw-800calc(80);}
        > ul > li > a + ul > li a{display: none;}
        > ul > li.on > ul{
            >li{
                /* background: pink; */
                a{display: block;padding: 0 vw-800calc(20);}
            }
        }

        .lang{
            height: vw-800calc(100);padding: vw-800calc(38) 0;border-bottom: none;margin-top: vw-800calc(80);
            a{display: inline-block;color: #949494;font-weight: 400;float: left;font-size: vw-800calc(24);line-height: vw-800calc(40);height: vw-800calc(40);}
            .lang_active{color: #222;margin-right: vw-800calc(32);}
            .lang_active::after{content: "";position: absolute;width: vw-800calc(20);height: vw-800calc(2);top: vw-800calc(20);left: vw-800calc(78);background: #222;}
        }
        .sns{
            border-bottom: none;float: right;margin-top: vw-800calc(-72);
            a{float: left;background: no-repeat center;width: vw-800calc(40);height: vw-800calc(40);margin-left: vw-800calc(24);}
            .sns_insta{background-image: url("../images/common/sns_white_insta.svg");}
            .sns_facebook{background-image: url("../images/common/sns_white_facebook.svg");}
            .sns_youtube{background-image: url("../images/common/sns_white_youtube.svg");}
        }
    }
    #wrap .header .logo{
        margin-left: 0;padding: vw-800calc(12);height: vw-800calc(72);
        a{width: vw-800calc(160);height: vw-800calc(48);}
    }
    #wrap .header .util .lang{display: none;}
    #wrap .header{
        .util .menu {
            padding: 0;
            .btn_open{width: vw-800calc(72);height: vw-800calc(72);}
        }
        height: vw-800calc(72);
        background: #fff;border-bottom: 1px solid #dbdbdb;
        .lang_active{color: #222;}

    }

    //#footer
    #footer{
        .trans_size{
            width: vw-800calc(620);
            .foot_left {
                .foot_link ul li{
                    margin-right: vw-800calc(28);
                    a{font-size: vw-800calc(14);}
                }
                .foot_info{
                    top: vw-800calc(72);
                    .ft_info p{font-size: vw-800calc(14);}
                    .ft_info, address{
                        margin-bottom: vw-800calc(16);
                    }
                    .ft_info + address, address + p{font-size: vw-800calc(14);}
                }
            }
            .foot_right{left: 0;top: vw-800calc(200);}
        }
    }
}

@media screen and (max-width: 360px) { //모바일
    //#header
    #wrap .header{
        height: vw-360calc(68);
        .util .menu .btn_open{
            width: vw-360calc(68);height: vw-360calc(68);
        }
    }
    #wrap .header .logo{
        height: vw-360calc(68);width: auto;padding: vw-360calc(16);
        a{width: vw-360calc(120);height: vw-360calc(36);}
    }

    #mGnb{
        top: vw-360calc(68);

        > ul{
            padding: 0 vw-360calc(20);
            > li{
                /* font-size: vw-360calc(28); */margin-bottom: vw-360calc(1);border-bottom: vw-360calc(2) solid #e5e5e5;
                > ul > li{font-size: vw-360calc(20);}
                &:not(.gnb8):not(.gnb9):not(.lang):not(.sns) > a::before, &:not(.gnb8):not(.gnb9):not(.lang):not(.sns) > a::after{
                    @include transition(transform 0.2s);
                    content: "";position: absolute;top: 50%;right: vw-360calc(38);width: vw-360calc(24);height: vw-360calc(4);background: #222;
                }
                > a::after{@include transform(rotate(-90deg));}
                &.on > a::after{@include transform(rotate(0deg));}
                > a{
                    position: relative;font-size: vw-360calc(28);font-weight: 700;padding: 0 vw-360calc(20);height: vw-360calc(60);line-height: vw-360calc(60);
                }
            }
        }
        > ul > li > a{display: block;line-height: vw-360calc(60);}
        > ul > li > a + ul > li a{display: none;}
        > ul > li.on > ul{
            >li{
                /* background: pink; */
                height: vw-360calc(48);
                a{display: block;padding: 0 vw-360calc(20);height: vw-360calc(48);line-height: vw-360calc(48)}
            }
        }
        .lang a, .sns{display: none;}
    }
    //#footer
    #footer{
        .ft_bg_dark{height: vw-360calc(420);}
        .trans_size{
            width: vw-360calc(280);height: vw-360calc(320);
            .foot_left{
                .foot_link ul li{margin-right: vw-360calc(10);line-height: vw-360calc(16);padding: vw-360calc(4);}
                .foot_info{
                    margin-top: vw-360calc(40);height: vw-360calc(180);
                    .ft_info p span{margin-left: vw-360calc(20);line-height: vw-360calc(28);}
                }
                .foot_info .ft_info p span::before{left: vw-360calc(-10);top: vw-360calc(9);width: vw-360calc(1);height: vw-360calc(12);}
                .foot_info address span::before{display: none;}
                .foot_info address p + span{margin-left: 0;}

                address p, .copyright > span{margin-bottom: vw-360calc(12);}
                
            }
            .foot_right{top: vw-360calc(240);}
        }
    }
}