#cnt1 {
  position: relative; }
  #cnt1 .swiper-container {
    width: 100%;
    height: 100vh;
    background: #222; }
    #cnt1 .swiper-container .swiper-slide {
      -webkit-background-size: contain !important;
      -moz-background-size: contain !important;
      background-size: contain !important;
      background: no-repeat 70% 60%;
      color: #fff; }
      #cnt1 .swiper-container .swiper-slide.slide1 {
        background-image: url("../images/main/cnt1_pc_img01.png"); }
      #cnt1 .swiper-container .swiper-slide.slide2 {
        background-image: url("../images/main/cnt1_pc_img02.png"); }
      #cnt1 .swiper-container .swiper-slide.slide3 {
        background-image: url("../images/main/cnt1_pc_img03.png"); }
      #cnt1 .swiper-container .swiper-slide .swiper-txt {
        position: absolute;
        top: 45%;
        left: 20%;
        /* h3, p, span, a{@include translate3d;} */ }
        #cnt1 .swiper-container .swiper-slide .swiper-txt h3 {
          -webkit-transition: all 0.8s cubic-bezier(0.25, 0.61, 0.355, 1) 1.1s;
          -moz-transition: all 0.8s cubic-bezier(0.25, 0.61, 0.355, 1) 1.1s;
          -o-transition: all 0.8s cubic-bezier(0.25, 0.61, 0.355, 1) 1.1s;
          transition: all 0.8s cubic-bezier(0.25, 0.61, 0.355, 1) 1.1s;
          font-family: RozhaOne;
          font-weight: 400;
          font-size: 5rem;
          align-self: flex-start;
          margin: 0 0 auto 0;
          line-height: 1;
          /* opacity: 0; */ }
        #cnt1 .swiper-container .swiper-slide .swiper-txt h3::before {
          content: "";
          position: absolute;
          top: -1rem;
          left: 0;
          width: 140%;
          height: 1px;
          background: #fff; }
        #cnt1 .swiper-container .swiper-slide .swiper-txt span {
          -webkit-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s;
          -moz-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s;
          -o-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s;
          transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s;
          font-size: 2rem;
          position: absolute;
          top: -4rem;
          display: block;
          color: #e5e5e5; }
        #cnt1 .swiper-container .swiper-slide .swiper-txt p {
          -webkit-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.8s;
          -moz-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.8s;
          -o-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.8s;
          transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.8s;
          text-transform: uppercase;
          margin-top: 0.5rem;
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 2rem; }
        #cnt1 .swiper-container .swiper-slide .swiper-txt a {
          -webkit-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 2s;
          -moz-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 2s;
          -o-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 2s;
          transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 2s;
          margin-top: 4rem;
          font-family: NtSansKR;
          font-weight: 400;
          font-size: 1.25rem; }
    #cnt1 .swiper-container .btn_controller {
      width: 156px;
      height: 52px;
      position: absolute;
      left: 20%;
      top: 80%; }
      #cnt1 .swiper-container .btn_controller .swiper-button-prev, #cnt1 .swiper-container .btn_controller .swiper-button-next {
        position: static;
        background: no-repeat center;
        width: 52px;
        height: 52px;
        position: absolute;
        top: 22px; }
      #cnt1 .swiper-container .btn_controller .swiper-button-prev::after, #cnt1 .swiper-container .btn_controller .swiper-button-next::after {
        display: none; }
      #cnt1 .swiper-container .btn_controller .swiper-button-prev.swiper-button-disabled, #cnt1 .swiper-container .btn_controller .swiper-button-next.swiper-button-disabled {
        opacity: 1; }
      #cnt1 .swiper-container .btn_controller .swiper-button-prev {
        background-image: url("../images/common/icon_pc1x_arrow_white_prev.svg");
        left: 0; }
      #cnt1 .swiper-container .btn_controller .swiper-button-next {
        background-image: url("../images/common/icon_pc1x_arrow_white_next.svg");
        right: 0; }
      #cnt1 .swiper-container .btn_controller > button {
        position: absolute;
        z-index: 1; }
      #cnt1 .swiper-container .btn_controller .play_stop {
        width: 52px;
        height: 52px;
        position: absolute;
        left: 52px;
        background: no-repeat center; }
      #cnt1 .swiper-container .btn_controller .autoplay {
        background-image: url("../images/common/icon_pc1x_play_white.svg");
        display: none; }
      #cnt1 .swiper-container .btn_controller .autostop {
        background-image: url("../images/common/icon_pc1x_pause_white.svg"); }
  #cnt1 .scroll_ani {
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    width: 60px;
    height: 72px;
    position: absolute;
    z-index: 100;
    bottom: 140px;
    right: 50%; }
    #cnt1 .scroll_ani .animation {
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      width: 24px;
      height: 36px;
      border: 2px solid #ccc;
      margin: 0 18px; }
      #cnt1 .scroll_ani .animation > span {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -o-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        /* @include keyframe (move) {
            100% {
                transform: translateY(100px);
            }0%{
                transform: translateY(0px);
            }
        }; */
        position: absolute;
        left: 50%;
        top: 24px;
        width: 4px;
        height: 4px;
        background: #ccc; }
    #cnt1 .scroll_ani .scroll_txt {
      height: 72px;
      width: 60px;
      bottom: 0;
      font-family: NtSansKR;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      color: #fff;
      margin-top: 12px; }

#cnt2 {
  position: relative; }
  #cnt2 .cnt_tit {
    position: absolute;
    top: 120px;
    left: 20%;
    width: 500px;
    height: 120px;
    z-index: 2; }
    #cnt2 .cnt_tit p {
      color: #ABA3A3;
      font-size: 32px; }
    #cnt2 .cnt_tit h2 {
      font-size: 48px;
      letter-spacing: -0.12rem;
      margin-top: 20px; }
  #cnt2 .swiper-container {
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    background-size: contain !important;
    width: 100%;
    height: 100vh;
    background: url("../images/main/bg_pattern.svg") repeat center; }
    #cnt2 .swiper-container .swiper-slide .bg_line {
      height: 4px;
      width: 100%;
      background: #222;
      position: absolute;
      top: 480px; }
    #cnt2 .swiper-container .swiper-slide .inner_l {
      position: absolute;
      width: 360px;
      height: 520px;
      top: 300px;
      left: 20%; }
      #cnt2 .swiper-container .swiper-slide .inner_l .dot {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background: #222;
        position: absolute;
        top: 170px;
        left: 0; }
      #cnt2 .swiper-container .swiper-slide .inner_l .count_number {
        /* background: pink; */
        height: 152px;
        font-size: 180px; }
      #cnt2 .swiper-container .swiper-slide .inner_l .history_info {
        font-family: NtSansKR;
        font-weight: 400;
        line-height: 32px;
        margin-top: 60px; }
    #cnt2 .swiper-container .swiper-slide .inner_r {
      position: absolute;
      width: 720px;
      height: 600px;
      left: 50%;
      top: 184px; }
      #cnt2 .swiper-container .swiper-slide .inner_r .img_back {
        position: absolute;
        width: 510px;
        height: 510px;
        right: 0; }
      #cnt2 .swiper-container .swiper-slide .inner_r .img_front {
        position: absolute;
        width: 290px;
        height: 410px;
        bottom: 0; }
    #cnt2 .swiper-container .slide4 .img_back {
      background-image: url("../images/main/cnt2_pc_img01_2.jpg"); }
    #cnt2 .swiper-container .slide4 .img_front {
      background-image: url("../images/main/cnt2_pc_img01_1.jpg"); }
    #cnt2 .swiper-container .slide5 .img_back {
      background-image: url("../images/main/cnt2_pc_img02_2.jpg"); }
    #cnt2 .swiper-container .slide5 .img_front {
      background-image: url("../images/main/cnt2_pc_img02_1.jpg"); }
    #cnt2 .swiper-container .slide6 .img_back {
      background-image: url("../images/main/cnt2_pc_img03_2.jpg"); }
    #cnt2 .swiper-container .slide6 .img_front {
      background-image: url("../images/main/cnt2_pc_img03_1.jpg"); }
    #cnt2 .swiper-container .slide7 .img_back {
      background-image: url("../images/main/cnt2_pc_img04_2.jpg"); }
    #cnt2 .swiper-container .slide7 .img_front {
      background-image: url("../images/main/cnt2_pc_img04_1.jpg"); }
    #cnt2 .swiper-container .btn_controller {
      width: 104px;
      height: 52px;
      position: absolute;
      left: 20%;
      top: 232px; }
      #cnt2 .swiper-container .btn_controller .swiper-button-prev, #cnt2 .swiper-container .btn_controller .swiper-button-next {
        background: no-repeat center;
        width: 52px;
        height: 52px; }
      #cnt2 .swiper-container .btn_controller .swiper-button-prev::after, #cnt2 .swiper-container .btn_controller .swiper-button-next::after {
        display: none; }
      #cnt2 .swiper-container .btn_controller .swiper-button-prev.swiper-button-disabled, #cnt2 .swiper-container .btn_controller .swiper-button-next.swiper-button-disabled {
        opacity: 0.2; }
      #cnt2 .swiper-container .btn_controller .swiper-button-prev {
        background-image: url("../images/common/icon_pc1x_arrow_black_prev.svg");
        left: 0; }
      #cnt2 .swiper-container .btn_controller .swiper-button-next {
        background-image: url("../images/common/icon_pc1x_arrow_black_next.svg");
        right: 0; }

#cnt3 {
  position: relative; }
  #cnt3 .bg_begie {
    width: 100%;
    height: 100vh;
    background: #E1dcdb; }
  #cnt3 .bg_box .img-slider1 {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    position: absolute;
    height: 100vh;
    width: 80%;
    left: 0;
    top: 0;
    background: url("../images/main/cnt3_pc_img01_1.jpg") no-repeat center;
    overflow: hidden; }
    #cnt3 .bg_box .img-slider1 [data-class="img-slide"] {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      height: 100vh;
      width: 100%;
      background: no-repeat center; }
    #cnt3 .bg_box .img-slider1 [data-class="img-slide"]:nth-of-type(2) {
      background-image: url("../images/main/cnt3_pc_img01_1.jpg"); }
    #cnt3 .bg_box .img-slider1 [data-class="img-slide"]:nth-of-type(3) {
      background-image: url("../images/main/cnt3_pc_img02_1.jpg"); }
    #cnt3 .bg_box .img-slider1 [data-class="img-slide"]:nth-of-type(4) {
      background-image: url("../images/main/cnt3_pc_img03_1.jpg"); }
    #cnt3 .bg_box .img-slider1 [data-class="img-slide"]:nth-of-type(5) {
      background-image: url("../images/main/cnt3_pc_img04_1.jpg"); }
    #cnt3 .bg_box .img-slider1 [data-class="img-slide"]:nth-of-type(6) {
      background-image: url("../images/main/cnt3_pc_img05_1.jpg"); }
    #cnt3 .bg_box .img-slider1 [data-class="img-slide"]:nth-of-type(7) {
      background-image: url("../images/main/cnt3_pc_img06_1.jpg"); }
    #cnt3 .bg_box .img-slider1 [data-class="img-slide"]:nth-of-type(8) {
      background-image: url("../images/main/cnt3_pc_img07_1.jpg"); }
    #cnt3 .bg_box .img-slider1 .slick-dots {
      position: absolute;
      left: 268px;
      bottom: 229px;
      width: 720px;
      height: 124px;
      color: #fff; }
      #cnt3 .bg_box .img-slider1 .slick-dots li {
        float: left;
        margin-right: 20px;
        margin-bottom: 40px;
        height: 42px; }
        #cnt3 .bg_box .img-slider1 .slick-dots li button {
          display: block;
          width: 160px;
          line-height: 42px;
          position: relative;
          text-align: left; }
        #cnt3 .bg_box .img-slider1 .slick-dots li button::before, #cnt3 .bg_box .img-slider1 .slick-dots li button::after {
          content: "";
          position: absolute;
          top: 44px;
          left: 0;
          height: 2px; }
        #cnt3 .bg_box .img-slider1 .slick-dots li button::before {
          width: 100%;
          background: rgba(255, 255, 255, 0.3); }
        #cnt3 .bg_box .img-slider1 .slick-dots li button::after {
          width: 0;
          background: #fff; }
        #cnt3 .bg_box .img-slider1 .slick-dots li.slick-active button::after {
          width: 100%;
          -webkit-transition: width 3s;
          -moz-transition: width 3s;
          -o-transition: width 3s;
          transition: width 3s; }
  #cnt3 .img-slider2 {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 400px;
    height: 594px;
    top: 50%;
    left: 70%;
    overflow-y: hidden;
    background: url("../images/main/cnt3_pc_img01_2.jpg") no-repeat center; }
    #cnt3 .img-slider2 .img-slide {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      height: 594px;
      width: 400px;
      background: no-repeat center; }
      #cnt3 .img-slider2 .img-slide p {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        padding-top: 496px; }
    #cnt3 .img-slider2 #frontSlide1 {
      background-image: url("../images/main/cnt3_pc_img01_2.jpg"); }
    #cnt3 .img-slider2 #frontSlide2 {
      background-image: url("../images/main/cnt3_pc_img02_2.jpg"); }
    #cnt3 .img-slider2 #frontSlide3 {
      background-image: url("../images/main/cnt3_pc_img03_2.jpg"); }
    #cnt3 .img-slider2 #frontSlide4 {
      background-image: url("../images/main/cnt3_pc_img04_2.jpg"); }
    #cnt3 .img-slider2 #frontSlide5 {
      background-image: url("../images/main/cnt3_pc_img05_2.jpg"); }
    #cnt3 .img-slider2 #frontSlide6 {
      background-image: url("../images/main/cnt3_pc_img06_2.jpg"); }
    #cnt3 .img-slider2 #frontSlide7 {
      background-image: url("../images/main/cnt3_pc_img07_2.jpg"); }
  #cnt3 .img-slider2-size {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 400px;
    height: 594px;
    top: 50%;
    left: 70%; }
    #cnt3 .img-slider2-size a {
      display: inline-block;
      margin: 0 110px;
      margin-top: 564px; }
  #cnt3 .cnt_tit {
    position: absolute;
    top: 120px;
    left: 280px;
    width: 632px;
    height: 180px;
    z-index: 2; }
    #cnt3 .cnt_tit p {
      color: #ABA3A3;
      font-size: 32px; }
    #cnt3 .cnt_tit strong {
      display: inline-block;
      font-size: 48px;
      letter-spacing: -0.12rem;
      margin-top: 20px;
      color: #fff;
      line-height: 68px; }
  #cnt3 .controller {
    position: absolute;
    top: 320px;
    left: 268px;
    width: 156px;
    height: 52px; }
    #cnt3 .controller button {
      width: 52px;
      height: 52px;
      position: absolute;
      background: no-repeat center; }
    #cnt3 .controller #prev {
      left: 0;
      background-image: url("../images/common/icon_pc1x_arrow_white_prev.svg"); }
    #cnt3 .controller #next {
      right: 0;
      background-image: url("../images/common/icon_pc1x_arrow_white_next.svg"); }
    #cnt3 .controller .play_stop {
      left: 52px; }
    #cnt3 .controller .autoplay {
      background-image: url("../images/common/icon_pc1x_play_white.svg");
      display: none; }
    #cnt3 .controller .autostop {
      background-image: url("../images/common/icon_pc1x_pause_white.svg"); }
    #cnt3 .controller .pagination {
      width: 720px;
      height: 124px;
      margin-top: 260px;
      color: #fff; }
      #cnt3 .controller .pagination ul li {
        float: left;
        margin-right: 20px;
        margin-bottom: 40px;
        height: 42px; }
        #cnt3 .controller .pagination ul li a {
          display: block;
          width: 160px;
          line-height: 42px;
          position: relative; }
        #cnt3 .controller .pagination ul li a::before {
          content: "";
          position: absolute;
          top: 44px;
          left: 0;
          width: 100%;
          height: 2px;
          background: rgba(255, 255, 255, 0.3); }
  #cnt3 .slick-slide {
    transition: transform 0.7s cubic-bezier(0.84, 0, 0.08, 0.99); }

#cnt4 {
  position: relative; }
  #cnt4 .bg_light_grey {
    width: 100%;
    height: 100vh;
    background: #efefef; }
  #cnt4 .inner_cnt {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width: 1060px;
    height: 718px;
    top: 50%;
    left: 50%; }
    #cnt4 .inner_cnt .tit {
      width: 100%;
      height: 48px; }
      #cnt4 .inner_cnt .tit p, #cnt4 .inner_cnt .tit h2 {
        display: inline-block;
        line-height: 48px; }
      #cnt4 .inner_cnt .tit p {
        font-size: 32px;
        color: #ABA3A3; }
      #cnt4 .inner_cnt .tit h2 {
        color: 333;
        font-size: 32px;
        margin-left: 20px; }
    #cnt4 .inner_cnt .viewmore {
      position: absolute;
      right: 0;
      line-height: 48px;
      padding-left: 40px;
      font-size: 20px; }
      #cnt4 .inner_cnt .viewmore .icon_more::before {
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        content: "";
        position: absolute;
        top: 22px;
        left: 12px;
        width: 16px;
        height: 2px;
        background: #595959; }
      #cnt4 .inner_cnt .viewmore .icon_more::after {
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        content: "";
        position: absolute;
        top: 15px;
        left: 19px;
        width: 2px;
        height: 16px;
        background: #595959; }
      #cnt4 .inner_cnt .viewmore :hover.icon_more::before, #cnt4 .inner_cnt .viewmore :focus.icon_more::before, #cnt4 .inner_cnt .viewmore :hover.icon_more::after, #cnt4 .inner_cnt .viewmore :focus.icon_more::after {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg); }
  #cnt4 .inner_news {
    width: 100%;
    height: 308px; }
    #cnt4 .inner_news .news_cnt {
      height: 220px;
      margin-top: 40px; }
      #cnt4 .inner_news .news_cnt a, #cnt4 .inner_news .news_cnt span, #cnt4 .inner_news .news_cnt div, #cnt4 .inner_news .news_cnt p {
        display: inline-block;
        font-family: NtSnasKR;
        color: #333; }
      #cnt4 .inner_news .news_cnt ul:first-child {
        border-top: 2px solid #333; }
      #cnt4 .inner_news .news_cnt ul li {
        background: #fff;
        border-bottom: 1px solid #ccc;
        height: 74px; }
        #cnt4 .inner_news .news_cnt ul li a {
          width: 100%; }
          #cnt4 .inner_news .news_cnt ul li a span {
            font-size: 20px;
            font-weight: 400;
            line-height: 70px;
            height: 70px;
            font-family: NtSansKR; }
        #cnt4 .inner_news .news_cnt ul li .date {
          margin: 0 40px;
          font-size: 16px;
          font-weight: 700; }
    #cnt4 .inner_news .viewmore {
      top: 0; }
  #cnt4 .inner_event {
    margin-top: 80px;
    height: 330px; }
    #cnt4 .inner_event .event_cnt {
      height: 242px;
      margin-top: 40px; }
      #cnt4 .inner_event .event_cnt a, #cnt4 .inner_event .event_cnt span, #cnt4 .inner_event .event_cnt strong {
        display: inline-block; }
      #cnt4 .inner_event .event_cnt ul {
        width: 100%;
        height: 100%; }
      #cnt4 .inner_event .event_cnt ul li {
        float: left;
        width: 510px;
        height: 100%; }
        #cnt4 .inner_event .event_cnt ul li + li {
          margin-left: 40px; }
        #cnt4 .inner_event .event_cnt ul li > a {
          background: no-repeat center;
          width: 100%;
          height: 160px; }
          #cnt4 .inner_event .event_cnt ul li > a strong {
            line-height: 40px;
            font-size: 28px;
            padding-top: 40px;
            padding-left: 40px;
            font-family: NtSansKR;
            color: #fff; }
        #cnt4 .inner_event .event_cnt ul li > a:focus {
          outline: 2px solid #B82830; }
        #cnt4 .inner_event .event_cnt ul li .banner1 {
          background-image: url("../images/main/cnt4_pc_img01.jpg"); }
        #cnt4 .inner_event .event_cnt ul li .banner2 {
          background-image: url("../images/main/cnt4_pc_img02.jpg"); }
      #cnt4 .inner_event .event_cnt .bnr_txt {
        height: 66px;
        margin-top: 16px; }
        #cnt4 .inner_event .event_cnt .bnr_txt p {
          font-family: NtSansKR; }
        #cnt4 .inner_event .event_cnt .bnr_txt :first-child {
          font-size: 24px;
          font-weight: 700; }
        #cnt4 .inner_event .event_cnt .bnr_txt :last-child {
          font-size: 16px;
          color: #595959;
          margin-top: 8px; }
    #cnt4 .inner_event .viewmore {
      bottom: 282px; }

#cnt5 {
  position: relative; }
  #cnt5 .bg_white {
    width: 100%;
    height: 100vh;
    background: #fff; }
  #cnt5 .bg_movie {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    background: teal;
    width: 100%;
    height: 600px;
    overflow: hidden; }
    #cnt5 .bg_movie .overlay {
      position: absolute;
      height: 100vh;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      top: 0;
      left: 0; }
    #cnt5 .bg_movie .link_mall {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%; }
      #cnt5 .bg_movie .link_mall .txt_tit {
        font-family: SongMyung;
        color: #fff;
        text-align: center;
        font-size: 32px;
        line-height: 3.25rem;
        letter-spacing: -0.12rem;
        max-width: 480px; }
      #cnt5 .bg_movie .link_mall .btn_view {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        position: relative;
        left: 50%;
        margin-top: 60px; }
  #cnt5 #movie {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%; }
    #cnt5 #movie iframe {
      border: none; }

#fp-nav {
  width: 140px;
  height: 240px; }
  #fp-nav.fp-right {
    right: 140px; }
  #fp-nav ul {
    width: 100%;
    height: 100%;
    margin-top: -7px; }
    #fp-nav ul li {
      position: relative;
      width: 140px;
      height: 40px;
      margin: 0; }
      #fp-nav ul li a span {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        height: 100%;
        width: 2px;
        position: absolute;
        right: 0; }
  #fp-nav ul li a span, #fp-nav ul li .fp-slidesNav ul li a span {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100%;
    top: 50%;
    background: #B82830; }
  #fp-nav ul li a.active span, #fp-nav ul li .fp-slidesNav ul li a.active span {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
  #fp-nav ul li .fp-tooltip {
    top: 8px;
    font-size: 14px;
    font-family: NtSansKR;
    opacity: 0.8;
    overflow: visible;
    padding: 0 20px; }
  #fp-nav ul li:hover .fp-tooltip::before {
    content: "";
    position: absolute;
    left: 0;
    top: -11px;
    width: 100%;
    height: 40px;
    background: #B82830;
    z-index: -1; }
  #fp-nav ul li:hover a span, #fp-nav ul li:hover a.active span, #fp-nav ul li .fp-slidesNav ul li:hover a span .fp-slidesNav ul li:hover a.active span {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 2px;
    height: 100%;
    margin: -2px; }
  #fp-nav ul li a.active span, #fp-nav ul li .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, #fp-nav ul li .fp-slidesNav ul li:hover a.active span {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: -4px;
    width: 8px;
    height: 8px; }

.fp-viewing-1 #fp-nav ul li a + .fp-tooltip {
  color: #222; }

.fp-viewing-1 #fp-nav ul li:hover a + .fp-tooltip {
  color: #fff; }

.fp-viewing-3 #fp-nav ul li a + .fp-tooltip {
  color: #222; }

.fp-viewing-3 #fp-nav ul li:hover a + .fp-tooltip {
  color: #fff; }

/*# sourceMappingURL=main.css.map */
