@charset "utf-8";
@import "_var", "_mixin", "_function";

#cnt1{
    position: relative;
    .swiper-container{
        width: 100%;height: 100vh;background: #222;
        .swiper-slide{
            @include bgsize(contain);
            background: no-repeat 70% 60%;color:#fff;
            &.slide1{background-image: url("../images/main/cnt1_pc_img01.png");}
            &.slide2{background-image: url("../images/main/cnt1_pc_img02.png");}
            &.slide3{background-image: url("../images/main/cnt1_pc_img03.png");}
            
            .swiper-txt{
                position: absolute;top: 45%;left: 20%;
                /* h3, p, span, a{@include translate3d;} */
                h3{
                    @include transition(all 0.8s cubic-bezier(0.25, 0.61, 0.355, 1) 1.1s);
                    font-family: $engFont;font-weight: 400;font-size: 5rem;align-self: flex-start;margin: 0 0 auto 0;line-height: 1;/* opacity: 0; */

                }
                h3::before{content: "";position: absolute;top: -1rem;left: 0;width: 140%;height: 1px;background: #fff;}
                span{
                    @include transition(all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s);
                    font-size: 2rem;position: absolute;top: -4rem;display: block;color: #e5e5e5;
                }
                p{
                    @include transition(all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.8s);
                    text-transform: uppercase;
                    margin-top: 0.5rem;font-size: 1.25rem;font-weight: 400;line-height: 2rem;
                }
                a{
                    @include transition(all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 2s);
                    margin-top: 4rem;font-family: NtSansKR;font-weight: 400;font-size: 1.25rem;
                }
            }
        }
        .btn_controller{
            width: 156px;height: 52px;position: absolute;left: 20%;top: 80%;
            .swiper-button-prev, .swiper-button-next {
                position: static;
                background: no-repeat center;width: 52px;height: 52px;position: absolute;top: 22px;
            }
            .swiper-button-prev::after, .swiper-button-next::after{display: none;}
            .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{opacity: 1;}
            .swiper-button-prev{background-image: url("../images/common/icon_pc1x_arrow_white_prev.svg");left: 0;}
            .swiper-button-next{background-image: url("../images/common/icon_pc1x_arrow_white_next.svg");right: 0;}
            
            > button{position: absolute;z-index: 1;}
            .play_stop{width: 52px;height: 52px;position: absolute;left: 52px;background: no-repeat center;}

            .autoplay{background-image: url("../images/common/icon_pc1x_play_white.svg");display: none;}
            .autostop{background-image: url("../images/common/icon_pc1x_pause_white.svg");}
        }
    }
    
    .scroll_ani{
        @include translateX-50;
        width: 60px;height: 72px;position: absolute;z-index: 100;bottom: 140px;left: 50%;
        .animation{
            @include border-radius(12px);
            width: 24px;height: 36px;border: 2px solid #ccc;margin: 0 18px;position: relative;
            > span{
                @include border-radius(50%);
                position: absolute;left: 8px;top: 24px;width: 4px;height: 4px;background: #ccc;
            }
        }
        .scroll_txt{height: 72px;width: 60px;bottom: 0;font-family: NtSansKR;font-size: 14px;font-weight: 400;text-align: center;color: #fff;margin-top: 12px;}

        .animation > span{
            @include keyframe(drop){
                100%{
                    transform: translateY(-2px)
                }0%{
                    transform: translateY(-18px)
                }
            };
            @include animation(0s, 1.8s,drop,infinite);
            display: inline-block;
        }
    }
}

#cnt2{
    position: relative;
    .cnt_tit{
        position: absolute;top: 120px;left: 20%;width: 500px;height: 120px;z-index: 2;
        p{color: #ABA3A3;font-size: 32px;}
        h2{font-size: 48px;letter-spacing: -0.12rem;margin-top: 20px;}
    }
    .swiper-container{
        @include bgsize(contain);
        width: 100%;height: 100vh;
        background: url("../images/main/bg_pattern.svg")repeat center;
        .swiper-slide{
            .bg_line{height: 4px;width: 100%;background: #222;position: absolute;top: 480px;}
            .inner_l{
                position: absolute;width: 360px;height: 520px;top: 300px;left: 20%;
                .dot{
                    @include border-radius(50%);
                    width: 24px;height: 24px;background: #222;position: absolute;top: 170px;left: 0;
                }
                
                .history_info{font-family: NtSansKR;font-weight: 400;line-height: 32px;margin-top: 60px;}
            }
            & .count_number{height: 152px;font-size: 180px;}
            .inner_r{
                position: absolute;width: 720px;height: 600px;left: 45%;top: 184px;
                .img_back{
                    position: absolute;width: 510px;height: 510px;right: 0;}
                .img_front{position: absolute;width: 290px;height: 410px;bottom: 0;}
            }
        }

        .slide4 {
            .img_back{
                overflow: hidden;
            }
            .img_back::after{
                @include keyframe(anishow){
                    100%{
                        transform: translateX(0)
                    }0%{
                        transform: translateX(-100%)
                    }
                };
                @include animation(5s, 0.5s, anishow, 1);
                content: "";position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-image: url('../images/main/cnt2_pc_img01_2.jpg');
            }

            .img_front{
                background-image: url('../images/main/cnt2_pc_img01_1.jpg');
            }
        }
        .slide5{
            .img_back{
                background-image: url('../images/main/cnt2_pc_img02_2.jpg');
            }
            .img_front{
                background-image: url('../images/main/cnt2_pc_img02_1.jpg');
            }
        }
        .slide6{
            .img_back{
                background-image: url('../images/main/cnt2_pc_img03_2.jpg');
            }
            .img_front{
                background-image: url('../images/main/cnt2_pc_img03_1.jpg');
            }
        }
        .slide7{
            .img_back{
                background-image: url('../images/main/cnt2_pc_img04_2.jpg');
            }
            .img_front{
                background-image: url('../images/main/cnt2_pc_img04_1.jpg');
            }
        }

        .btn_controller{
            width: 104px;height: 52px;position: absolute;left: 20%;top: 232px;
            .swiper-button-prev, .swiper-button-next{background: no-repeat center;width: 52px;height: 52px;}
            .swiper-button-prev::after, .swiper-button-next::after{display: none;}
            .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{opacity: 0.2;}
            .swiper-button-prev{background-image: url("../images/common/icon_pc1x_arrow_black_prev.svg");left: 0;}
            .swiper-button-next{background-image: url("../images/common/icon_pc1x_arrow_black_next.svg");right: 0;}
        }   
    }
}

#cnt3{
    position: relative;
    .bg_begie{width: 100%;height: 100vh;background: #E1dcdb;}
    .bg_box{
        .img-slider1{
            @include bgsize(cover);
            position: absolute;height: 100vh;width: 80%;left: 0;top: 0;background: url("../images/main/cnt3_pc_img01_1.jpg")no-repeat center;overflow: hidden;
    
            //속성 선택자로 교체함
            [data-class="img-slide"]{
                @include bgsize(cover);height: 100vh;width: 100%;
                background: no-repeat center;
            }
            [data-class="img-slide"]:nth-of-type(2){background-image: url("../images/main/cnt3_pc_img01_1.jpg");}
            [data-class="img-slide"]:nth-of-type(3){background-image: url("../images/main/cnt3_pc_img02_1.jpg");}
            [data-class="img-slide"]:nth-of-type(4){background-image: url("../images/main/cnt3_pc_img03_1.jpg");}
            [data-class="img-slide"]:nth-of-type(5){background-image: url("../images/main/cnt3_pc_img04_1.jpg");}
            [data-class="img-slide"]:nth-of-type(6){background-image: url("../images/main/cnt3_pc_img05_1.jpg");}
            [data-class="img-slide"]:nth-of-type(7){background-image: url("../images/main/cnt3_pc_img06_1.jpg");}
            [data-class="img-slide"]:nth-of-type(8){background-image: url("../images/main/cnt3_pc_img07_1.jpg");}

            //.slick-dots 동적 생성
            .slick-dots{
                position: absolute;left: 268px;bottom: 229px;width: 720px;height: 124px;color: #fff;
                li{
                    float: left;margin-right: 20px;margin-bottom: 40px;height: 42px;
                    button{display: block;width: 160px;line-height: 42px;position: relative;text-align: left;}
                    button::before, button::after{content: "";position: absolute;top: 44px;left: 0;height: 2px;}
                    button::before{width : 100%;background: rgba(255, 255, 255, .3);}
                    button::after{width : 0;background: #fff;}
                    &.slick-active button::after{width: 100%;@include transition(width 3s);} //동작중인 것만 가능하도록
                }
            }
        }
        
    }
    
    .img-slider2{
        @include translateY-50;
        @include bgsize(cover);
        position: absolute;width: 400px;height: 594px;top: 50%;left: 70%;overflow-y: hidden;background: url("../images/main/cnt3_pc_img01_2.jpg") no-repeat center;

        .img-slide{
            @include bgsize(cover);
            height: 594px;width: 400px;background: no-repeat center;
            p{font-size: 32px;font-weight: 700;text-align: center;color: #fff;padding-top: 496px;}
        }
        #frontSlide1{background-image: url("../images/main/cnt3_pc_img01_2.jpg");}
        #frontSlide2{background-image: url("../images/main/cnt3_pc_img02_2.jpg");}
        #frontSlide3{background-image: url("../images/main/cnt3_pc_img03_2.jpg");}
        #frontSlide4{background-image: url("../images/main/cnt3_pc_img04_2.jpg");}
        #frontSlide5{background-image: url("../images/main/cnt3_pc_img05_2.jpg");}
        #frontSlide6{background-image: url("../images/main/cnt3_pc_img06_2.jpg");}
        #frontSlide7{background-image: url("../images/main/cnt3_pc_img07_2.jpg");}
    }
    .img_sldr2{
        .img-slider2-size{
            @include translateY-50;
            position: absolute;width: 400px;height: 594px;top: 50%;left: 70%;
            a{display: inline-block;margin: 0 110px;margin-top: 564px;}
          }
    }
    
    

    .cnt_tit{
        position: absolute;top: 120px;left: 280px;width: 632px;height: 180px;z-index: 2;
        p{color: #ABA3A3;font-size: 32px;}
        strong{display: inline-block;font-size: 48px;letter-spacing: -0.12rem;margin-top: 20px;color: #fff;line-height: 68px;}
    }
    .controller{
        position: absolute;top: 320px;left: 268px;width: 156px;height: 52px;
        button{width: 52px;height: 52px;position: absolute;background: no-repeat center;}
        #prev{left: 0;background-image: url("../images/common/icon_pc1x_arrow_white_prev.svg");}
        #next{right: 0;background-image: url("../images/common/icon_pc1x_arrow_white_next.svg");}

        .play_stop{left: 52px;}
        .autoplay{background-image: url("../images/common/icon_pc1x_play_white.svg");display: none;}
        .autostop{background-image: url("../images/common/icon_pc1x_pause_white.svg");}

        .pagination{
            width: 720px;height: 124px;margin-top: 260px;color: #fff;
            ul li{
                float: left;margin-right: 20px;margin-bottom: 40px;height: 42px;
                a{display: block;width: 160px;line-height: 42px;position: relative;}
                a::before{content: "";position: absolute;top: 44px;left: 0;width : 100%;height: 2px;background: rgba(255, 255, 255, .3);}
            }
        }
    }
    
    .slick-slide {
        transition: transform .7s cubic-bezier(.84, 0, .08, .99);
    }
}

#cnt4{
    position: relative;
    .bg_light_grey{width: 100%;height: 100vh;background: #efefef;}
    .inner_cnt{
        @include translate-50;
        position: absolute;width: 1060px;height: 718px;top: 50%;left: 50%;
        .tit{
            width: 100%;height: 48px;
            p, h2{display: inline-block;line-height: 48px;font-size: 32px;}
            p{color: #ABA3A3;}
            h2{color: #333;margin-left: 20px;}
        }
        .viewmore{
            position: absolute;right: 0;line-height: 48px;padding-left: 40px;font-size: 20px;
            & .icon_more::before{
                @include transition(transform 0.5s);
                content: "";position: absolute;top: 22px;left: 12px;width: 16px;height: 2px;background: #595959;
            }
            & .icon_more::after{
                @include transition(transform 0.5s);
                content: "";position: absolute;top: 15px;left: 19px;width: 2px;height: 16px;background: #595959;
            }
            :hover.icon_more::before, :focus.icon_more::before, :hover.icon_more::after, :focus.icon_more::after{@include transform(rotate(360deg));}//??중첩...문제..?
        }
        
    }
    .inner_news{
        width: 100%;height: 308px;
        .news_cnt{
            height: 220px;margin-top: 40px;
            a, span, div, p{display: inline-block;font-family: NtSnasKR;color: #333;}
            ul{
                &:first-child{border-top: 2px solid #333;}
                li{
                    background: #fff;border-bottom: 1px solid #ccc;height: 74px;
                    a{
                        width: 100%;
                        span{font-size: 20px;font-weight: 400;line-height: 70px;height: 70px;font-family: NtSansKR;}
                    }
                    .date{margin: 0 40px;font-size: 16px;font-weight: 700;}
                }
            }
        }
        .viewmore{top: 0;}
    }
    .inner_event{
        margin-top: 80px;height: 330px;
        .event_cnt{
            height: 242px;margin-top: 40px;
            a, span, strong{display: inline-block;}
            ul{width:100%;height: 100%;}
            ul li{
                float: left;width: 510px;height: 100%;
                + li{margin-left: 40px;}
                > a{
                    background: no-repeat center;width: 100%;height: 160px;
                    strong{line-height: 40px;font-size: 28px;padding-top: 40px;padding-left: 40px;font-family: NtSansKR;color: #fff;}
                }
                >a:focus{outline: 2px solid $red;}
                .banner1{background-image: url("../images/main/cnt4_pc_img01.jpg")}
                .banner2{background-image: url("../images/main/cnt4_pc_img02.jpg");}
            }
            .bnr_txt{
                height: 66px;margin-top: 16px;
                p{font-family: NtSansKR;}
                :first-child{font-size: 24px;font-weight: 700;}
                :last-child{font-size: 16px;color: #595959;margin-top: 8px;}
            }

        }
        .viewmore{bottom: 282px;}
        
    }

}

#cnt5{
    position: relative;
    .bg_white{width: 100%;height: 100vh;background: #fff;}
    .bg_movie{
        @include translateY-50;
        position: absolute;top: 50%;background: $red;width: 100%;height: 600px;overflow: hidden;
        .overlay{position: absolute;height: 100vh;width: 100%;background: rgba(0, 0, 0, .4);top: 0;left: 0;}
        .link_mall{
            @include translate-50;
            position: absolute;top: 50%;left: 50%;
            .txt_tit{
                font-family: SongMyung;color: #fff;text-align: center;font-size: 32px;line-height: 3.25rem;letter-spacing: -0.12rem;min-width: 480px;
            }
            .btn_view{
                @include translateX-50;
                position: relative;left: 50%;margin-top: 60px;
            }
        }
    }
    #movie{
        @include translate-50;
        position: absolute;width: 100%;top: 50%;left: 50%;
        iframe{border: none;}
    }
    
}



#fp-nav{
    width: 140px;height: 240px;
    &.fp-right{right: 140px;}
    ul{
        width: 100%;height: 100%;margin-top: -7px;
        li{
            position: relative;
            width: 140px;height: 40px;margin: 0;
            a span{
                @include border-radius(0px);
                height: 100%;width: 2px;position: absolute;right: 0;
            }
        }
    }
    ul li{
        a span, .fp-slidesNav ul li a span{
            @include translateY-50;
            left: 100%;top: 50%;background: $red;
        }
        a.active span, .fp-slidesNav ul li a.active span{
            @include border-radius(0px);
        }
        .fp-tooltip{
            top: 8px;font-size: 14px;font-family: NtSansKR;opacity: 0.8;overflow: visible;padding: 0 20px;
        }
        &:hover .fp-tooltip::before{content: "";position: absolute;left: 0;top: -11px;width: 100%;height: 40px;background: $red;z-index: -1;}

        &:hover a span, &:hover a.active span, .fp-slidesNav ul li:hover a span .fp-slidesNav ul li:hover a.active span{
            @include border-radius(0);
            width: 2px;height: 100%;margin: -2px;
        }

        a.active span, .fp-slidesNav ul li a.active span, &:hover a.active span, .fp-slidesNav ul li:hover a.active span{
            @include transform(rotate(135deg));
            margin: -4px;width: 8px;height: 8px;
        }
    }
  
}

//풀페이지 푸터 활성화 시, 인디케이터 폰트색변화
.fp-viewing-1 #fp-nav ul li a + .fp-tooltip, .fp-viewing-3 #fp-nav ul li a + .fp-tooltip, .fp-viewing-5 #fp-nav ul li a + .fp-tooltip{color: #222;}
.fp-viewing-1 #fp-nav ul li:hover a + .fp-tooltip, .fp-viewing-3 #fp-nav ul li:hover a + .fp-tooltip, .fp-viewing-5 #fp-nav ul li:hover a + .fp-tooltip{color: #fff;}



@media screen and (max-width: 1920px) { //768의 2배수 지원

}

@media screen and (max-width: 1440px) { //pc gnb ////디자인변환

    #cnt2{
        .cnt_tit{top: vw-1440calc(160);left: vw-1440calc(160);}
        .swiper-container{
            .btn_controller{left: vw-1440calc(152);top: vw-1440calc(272);}
            .swiper-slide{
                .inner_l{left: 10%;}
                .inner_r{left: 40%;}
            }
        }
    }

    #cnt3{
        .cnt_tit{top: vw-1440calc(160);left: vw-1440calc(160);}
        .controller{left: vw-1440calc(152);top: vw-1440calc(352);}
        .bg_box{
            .img-slider1{
                .slick-dots{left: vw-1440calc(160);}
            }
        }
    }
    #cnt4{
        .inner_cnt{top: 55%}
    }

    #fp-nav{
        &.fp-right{right: vw-1440calc(80);}
    }
}

@media screen and (max-width: 1336px) { //laptop사이즈 변경

}

//태블릿 가로
@media screen and (max-width: 1280px) { //태블릿가로
    #cnt1{
        .swiper-container{
            .swiper-slide{
                .swiper-txt{top: 35%;}
            }
        }
    }
    
    #cnt2{
        .cnt_tit{
            top: vw-1280calc(120);left: vw-1280calc(160);width: vw-1280calc(500);height: vw-1280calc(120);z-index: 2;
            p{font-size: vw-1280calc(28);}
            h2{font-size: vw-1280calc(40);margin-top: vw-1280calc(16);}
        }
        .swiper-container{
            .swiper-slide{
                .bg_line{top: vw-1280calc(372);}
                .inner_l{
                    left: vw-1280calc(160);top: vw-1280calc(232);
                    .dot{top: vw-1280calc(130);}
                    .history_info{font-size: vw-1280calc(14);width: vw-1280calc(300);line-height: vw-1280calc(28);margin-top: vw-1280calc(20);}
                }
                & .count_number{font-size: vw-1280calc(128);}
                .inner_r{left: 40%;}
                .inner_r{
                    width: vw-1280calc(520);height: vw-1280calc(480);left: 45%;top: vw-1280calc(132);
                    .img_back{
                        width: vw-1280calc(400);height: vw-1280calc(400);right: 0;}
                    .img_front{width: vw-1280calc(210);height: vw-1280calc(320);bottom: 0;}
                }
            }
            .btn_controller{top: vw-1280calc(200);}
        }
    }

    #cnt3{
        .bg_box{
            .img-slider1{
                width: 70%;
                .slick-dots{
                    height: vw-1280calc(180);bottom: vw-1280calc(100);width: vw-1280calc(600);
                    li{
                        margin-right: vw-1280calc(10);
                        button{width: vw-1280calc(120);}
                    } 
                }
            }
        }
        
        .img_sldr2{
            @include transform(translate(0, -50%));
            position: absolute;width: vw-1280calc(280);height: vw-1280calc(430);top: 50%;left: 65%;
            .img-slider2{
                @include transform(translate(0, 0));
    
                top: 0;left:0;width: vw-1280calc(280);height: vw-1280calc(400);
                
                .img-slide p{padding-top: vw-1280calc(320);font-size: vw-1280calc(24);}
              }
              .img-slider2-size{
                  @include translateX-50;
                  position: absolute;height: vw-1280calc(400);top: 0;left: 50%;width: vw-1280calc(280);
                  a{
                      @include translateX-50;
                      position: absolute;left:50%;bottom: vw-1280calc(-30);margin: 0;}
              }
    
        }

        .cnt_tit{
            p{font-size: vw-1280calc(28);}
            strong{font-size: vw-1280calc(40);margin-top: vw-1280calc(16);line-height: vw-1280calc(52);}
        }
        .controller{top: vw-1280calc(300);left: vw-1280calc(146);}
    }

    #cnt4{
        .inner_cnt{
          width: vw-1280calc(880);height: vw-1280calc(600);left: vw-1280calc(600);top: 55%;
          .tit{
            height: vw-1280calc(40);
            p, h2{line-height: vw-1280calc(40);font-size: vw-1280calc(28);}
            h2{margin-left: vw-1280calc(20);}
          }
        }
        .inner_news{
          height: vw-1280calc(220);
          .news_cnt{
            margin-top: vw-1280calc(14);height: vw-1280calc(200);
            ul{
                li{
                    height: vw-1280calc(60);
                    a{
                        width: 100%;
                        span{font-size: vw-1280calc(20);line-height: vw-1280calc(58);height: vw-1280calc(58);}
                    }
                    .date{font-size: vw-1280calc(16);}
                }
            }
          }
        }
        .inner_event{margin-top: vw-1280calc(60);
            .event_cnt{
                height: vw-1280calc(180);margin-top: vw-1280calc(14);
                ul li{
                    width: vw-1280calc(420);
                    > a{
                        height: vw-1280calc(120);
                        strong{line-height: vw-1280calc(32);font-size: vw-1280calc(24);padding-top: vw-1280calc(26);padding-left: vw-1280calc(26);font-family: NtSansKR;color: #fff;}
                    }
                }
                .bnr_txt{
                  height: vw-1280calc(52);margin-top: vw-1280calc(12);
                  :first-child{font-size: vw-1280calc(22);}
                  :last-child{font-size: vw-1280calc(14);}
              }
            }
            .viewmore{top: vw-1280calc(292);}
        }
    }

    #cnt5{
      #movie{
        left: 25%;
      }
    }

    #fp-nav{
      &.fp-right{right: vw-1280calc(40);}
    }

    .fp-viewing-2 #fp-nav ul li a + .fp-tooltip{color: #222;}
    .fp-viewing-2 #fp-nav ul li:hover a + .fp-tooltip{color: #fff;}
}

@media screen and (max-width: 800px) { //태블릿 세로
  #cnt1{
    width: 100%;
    .scroll_ani .animation > span{
        @include keyframe(drop){
            100%{
                transform: translateY(vw-800calc(-18))
            }0%{
                transform: translateY(vw-800calc(-2))
            }
        };
    }
    .swiper-container .btn_controller{top: 0;}
    .swiper-container .swiper-slide .swiper-img .swiper-txt a{width: vw-800calc(240);font-size: vw-800calc(20);}
  }
  #cnt2{
    .cnt_tit{
        left: vw-800calc(100);color: #fff;
        p{font-size: vw-800calc(28);color: #fff;}
        h2{font-size: vw-800calc(40);width: vw-800calc(80);line-height: vw-800calc(52);margin-top: vw-800calc(20);}
    }
    .swiper-container .swiper-slide{
      .bg_line{height: vw-800calc(4);top: vw-800calc(520);width: 110%;}
      .inner_l{
        top: vw-800calc(300);left: vw-800calc(100);
        .dot{
          width: vw-800calc(32);height: vw-800calc(32);top: vw-800calc(208);
        }
        .history_info{line-height: vw-800calc(40);margin-top: vw-800calc(40);font-size: vw-800calc(20);width: vw-800calc(400);}
      }
      & .count_number{font-size: vw-800calc(220);height: 100%;color: #fff;}
      .inner_r{
        z-index: -1;top: 0;left: 0;width: 110%;height: vw-800calc(520);
        .img_back{left: 0;width: 100%;height: 100%;}
        /* .img_back::after{background-image: none;} */
        .img_front{display: none;}
      }
    }

    /* .slide4{
      .inner_r .img_back{background: none;}
      .inner_r .img_back::after{background-image: ;}
    } */

    .swiper-container .btn_controller{
        left: vw-800calc(88);
    }
  }
  #cnt3{
    .bg_box{
      .img-slider1{
        width: 100%;height: 100%;overflow: visible;
        .slick-dots{
            @include translateX-50;
          color: transparent;left: 50%;bottom: vw-800calc(60);width: vw-800calc(364);z-index: 1;
          li{
            margin-right: vw-800calc(12);margin-top: vw-800calc(72);
            button{width: vw-800calc(40);height: vw-800calc(40);}
            button::before, button::after{height: vw-800calc(4);top: vw-800calc(24);}
            button::before{background: #fff;}
            button::after{background: #222;}
          }
          ul:last-child{margin-right: vw-800calc(-12);}
        }
        /* .slick-dots::before{content: "";position: absolute;bottom: -200px;left: -188px;width: 100%;height: 600px;background: pink;} */
    }
    .cover_bg{position: absolute;width: 100%;height: vw-800calc(500);bottom: 0;left: 0;background: #E1DCDB;}
    
}
    .img_sldr2{
        @include transform(translate(-50%, -50%));
        position: absolute;width: vw-800calc(480);height: vw-800calc(520);top: 65%;left: 50%;
        .img-slider2{
            @include transform(translate(0, 0));

            top: 0;left:0;width: vw-800calc(480);height: vw-800calc(480);
            
            .img-slide p{padding-top: vw-800calc(60
                );font-size: vw-800calc(32);}
          }
          .img-slider2-size{
              @include translateX-50;
              position: absolute;height: vw-800calc(480);top: 0;left: 50%;width: vw-800calc(480);
              a{
                  @include translateX-50;
                  position: absolute;left:50%;bottom: vw-800calc(-30);margin: 0;width: vw-800calc(240);font-size: vw-800calc(20);}
          }

    }
    
    
    .controller{
        @include translateX-50;
        left: 50%;top: vw-800calc(800);
    }
    .cnt_tit{
      left: vw-800calc(100);width: vw-800calc(400);top:12%;
      p{font-size: vw-800calc(28);width: 200px;}
      strong{font-size: vw-800calc(40);line-height: 1.4;letter-spacing: 0;margin-top: vw-800calc(20);}
    }
  }

  #cnt4{
    .inner_cnt{
        @include transform(translate(0, -50%));
        left: 0;top: 50%;width: 100%;height: vw-800calc(800);
        .inner_news{
            height: vw-800calc(400);
            .news_cnt{height: vw-800calc(244);}
            .news_cnt ul li{
               height: vw-800calc(80);
                a{height: 100%;}
                a > span{height: auto;padding: vw-800calc(20) 0;}
                .date{font-size: vw-800calc(16);}
                a > span + span{font-size: vw-800calc(20);}
            }
            .news_cnt ul li a{
                display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
             }
        }
        .inner_news .tit, .inner_event .tit{
            height: vw-800calc(60);margin-bottom: vw-800calc(20);
            p{margin-left: vw-800calc(40);font-size: vw-800calc(28);height: vw-800calc(60);line-height: vw-800calc(60);}
            h2{font-size: vw-800calc(40);line-height: vw-800calc(60);height: vw-800calc(60);}
        }
        .viewmore{top: vw-800calc(-2);right: vw-800calc(20);}
    }

    .inner_event{
      margin-top: vw-800calc(80);
      .event_cnt{
          height: vw-800calc(214);
          ul > li{margin-left: vw-800calc(20);}
          ul li{
              float: left;width: vw-800calc(370);
              + li{margin-left: vw-800calc(20);margin-right: vw-800calc(20);}
              > a strong{display: block;font-size: vw-800calc(28);line-height: vw-800calc(32);margin-top: vw-800calc(20);margin-left: vw-800calc(20);}
              .banner1, .banner2{@include bgsize(cover);height: vw-800calc(140);}
          }
          .bnr_txt{
            margin-left: vw-800calc(20);margin-top: vw-800calc(12);
            &:first-child, &:last-child{height: vw-800calc(60);}
            :first-child{font-size: vw-800calc(24);}
            :last-child{font-size: vw-800calc(16);}
        }
      }
      .viewmore{position: absolute;top: vw-800calc(482);}
    }
  }

  #cnt5{
    .bg_movie{
        height: vw-800calc(880);
        .link_mall{
            width: 600px;
            .txt_tit{margin: auto;}
        }
    }
    .bg_movie .link_mall .txt_tit{
        width:auto;
        p{font-size: 36px;line-height: 52px;}
    }
    .bg_movie .link_mall .btn_view{font-size: 20px;width: 240px;}
    #movie{
        @include translate-50;
        left: 50%;
    }
  }

}

@media screen and (max-width: 360px) { //모바일 360
  #cnt1{
      width: 100%;min-width: vw-360calc(360);
      .swiper-container .swiper-slide .swiper-txt{
        left: 10%;top: 28%;
        h3{font-size: vw-360calc(60);}
        h3::before{width: 80%;height: vw-360calc(2);}
        span{font-size: vw-360calc(32);top: vw-360calc(-60);}
        p{font-size: vw-360calc(20);}
        a{margin-top: vw-360calc(180);}
      }
      .swiper-container .btn_controller{left: 5%;top: 50%;}
      .scroll_ani{left: 80%;top: 75%;}
      .swiper-container .swiper-slide .swiper-img .swiper-txt a{width: vw-360calc(160);font-size: vw-360calc(14);height: vw-360calc(48);line-height: vw-360calc(48);}
  }
  #cnt2{
    .cnt_tit{
      left: 10%;top: 14%;width: vw-360calc(200);
      h2{font-size: vw-360calc(34);line-height: 1.2;}
      p{font-size: vw-360calc(20);}

    }
    .swiper-container .swiper-wrapper .swiper-slide{
      width:100%;
      .bg_line{top: vw-360calc(320);width: 100%;}
      .inner_l{
        top: vw-360calc(220);left: 10%;width: vw-360calc(200);
        .dot{width: vw-360cal(28);height: vw-360calc(28);top: vw-360calc(88);}
        .history_info{
          font-size: vw-360calc(14);line-height: vw-360calc(28);margin-top: vw-360calc(20);
          & ul li{width: vw-360calc(280);}
        }
      }
      & .count_number{font-size: vw-360calc(100);width: vw-360calc(280);}
      .inner_r .img_back{height: vw-360calc(320);}
    }

    .swiper-container .btn_controller{left: vw-360calc(240);top: vw-360calc(166);}
    
  }
  #cnt3{
    .cnt_tit{
      left: 10%;width: vw-360calc(300);top: 14%;
      p{width: vw-360calc(200);}
      strong{font-size: vw-360calc(30);line-height: 1.2;font-weight: 700;letter-spacing: vw-360calc(0.2);}
    }
    .controller{
      @include transform(translate(-50%));
      left: 50%;top: vw-360calc(460);
    }

    .bg_box .img-slider1{
      .slick-dots{
        width: vw-360calc(212);bottom: vw-360calc(32);}
      .slick-dots li{
          margin-right: 0;
          button{width: vw-360calc(20); height: vw-360calc(24);}
          button::before, button::after{height: vw-360calc(4);}
      }
      .slick-dots li + li{margin-left: vw-360calc(12);}
    }
    .bg_box .cover_bg{height: vw-360calc(200);}
    .img_sldr2{
      width: vw-360calc(280);height: vw-360calc(280);
      .img-slider2{
        width: vw-360calc(280);height: vw-360calc(280);
        .img-slide p{font-size: vw-360calc(24);padding-top: vw-360calc(40);}
      }
      .img-slider2-size{
        width: vw-360calc(280);height: vw-360calc(280);
        a{height: vw-360calc(48);line-height: vw-360calc(48);font-size: vw-360calc(14);width: vw-360calc(160);}
      }
    }
  }
  #cnt4{
    height: vw-360calc(1260);
    .bg_light_grey{height: vw-360calc(1260);}
    .inner_cnt{
      @include transform(translate(0, 0));
      top: 0;
      .inner_news{
          height: vw-360calc(500);
          .news_cnt{height: vw-360calc(480);
        }
          .news_cnt ul li{
             height: vw-360calc(110);
              a{height: 100%;}
              a > span{padding: auto;}
              .date{
                font-size: vw-360calc(14);margin: 0;width: 100%; padding: vw-360calc(20) 0 vw-360calc(8) 0;padding-left: vw-360calc(20);
              }
              .date + span{margin-left: vw-360calc(20);}
              a > span + span{font-size: vw-360calc(16);padding: vw-360calc(4) 0;}
          }
          .news_cnt ul li a{
              display: block;white-space: normal;overflow: visible;text-overflow: clip;
           }
           .news_cnt ul li:first-child a .date + span + span{margin-left: vw-360calc(20);}
      }
      .inner_news .tit, .inner_event .tit{
          height: vw-360calc(40);margin-bottom: vw-360calc(80);margin-top: vw-360calc(60);
          p{font-size: vw-360calc(24);height: vw-360calc(40);line-height: vw-360calc(40);width: vw-360calc(300);}
          h2{font-size: vw-360calc(28);line-height: vw-360calc(40);height: vw-360calc(40);margin-left: vw-360calc(20);}
      }
      .viewmore{top: vw-360calc(92);right: vw-360calc(20);}
  }

  .inner_event{
    margin-top: vw-360calc(80);
    .event_cnt{
        height: vw-360calc(214);
        ul > li{margin-left: 0;}
        ul li{
            float: none;width: 100%;
            + li{margin-left: 0;margin-right: 0;margin-top: vw-360calc(40);}
            > a strong{display: block;font-size: vw-360calc(28);line-height: vw-360calc(32);margin-top: vw-360calc(20);margin-left: vw-360calc(20);}
            .banner1, .banner2{@include bgsize(cover);height: vw-360calc(120);}
        }
        .bnr_txt{
          margin-left: vw-360calc(20);margin-top: vw-360calc(12);
          &:first-child, &:last-child{height: vw-360calc(60);}
          :first-child{font-size: vw-360calc(20);}
          :last-child{font-size: vw-360calc(14);}
      }
    }
    .viewmore{position: absolute;top: vw-360calc(672);}
  }
}
  #cnt5{
    .bg_movie{
      height: vw-360calc(480);
      .link_mall{width: auto;
        .txt_tit{
          min-width: auto;
          width: vw-360calc(260);
          p{font-size: vw-360calc(24);
            line-height: 1.35;
          }
        }
      }
    }
    .bg_movie .link_mall .btn_view{width: vw-360calc(160);height: vw-360calc(48);line-height: vw-360calc(48);font-size: vw-360calc(14);}
  }

}